.createPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1920px;
}

.sendForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 70%;
  padding: 50px;
  background-color: rgb(255, 254, 255);
}

.formButton {
  border-radius: 5px;
  width: 200px;
  height: 50px;
  background-color: rgb(163, 80, 164);
  color: rgb(255, 254, 255);
  transition: all 0.3s ease;
}

.formButton:hover {
  background-color: rgb(79, 40, 80);
}

.formButton:active {
  transform: scale(1.1);
}

.inputFileButton {
  border: 5px rgb(79, 40, 80) solid;
}

.infoInput {
  width: 500px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(248, 226, 248);
}

.editingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.textareaEditing {
  max-width: 1200px;
  width: 100%;
  max-height: 500px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(248, 226, 248);
}

.imageContainer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 10px;
}

.imageContainer img {
  width: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 5px rgb(163, 80, 164) solid;
  border-radius: 5px;
}
